hr {
    border-style: none;
    border-bottom: var(--separator--height) solid var(--separator--border-color);
    clear: both;
    margin-left: auto;
    margin-right: auto;

    &.wp-block-separator {
        border-bottom: var(--separator--height) solid
            var(--separator--border-color);

        &:not(.is-style-dots):not(.is-style-primary-divider):not(.is-style-curved-bottom) {
            opacity: .25;
            border-top: 0px;
        }

        &:not(.is-style-dots):not(.alignwide) {
            max-width: var(--responsive--aligndefault-width);
        }

        &:not(.is-style-dots) {
            &.alignwide {
                max-width: var(--responsive--alignwide-width);
            }

            &.alignfull {
                max-width: var(--responsive--alignfull-width);
            }
        }

        /**
		 * Block Options
		 */
        &.is-style-primary-divider {
            width: 50%;
            height: 3px;
            margin: 32px auto;
            border-radius: 5px;
            background-color: var(--global--color-green-primary);
        }

        &.is-style-dots {
            &.has-background,
            &.has-text-color {
                background-color: transparent !important;

                &:before {
                    color: currentColor !important;
                }
            }

            &:before {
                color: var(--separator--border-color);
                font-size: var(--global--font-size-xl);
                letter-spacing: var(--global--font-size-sm);
                padding-left: var(--global--font-size-sm);
            }
        }


        &.is-style-curved-bottom {
            display: none;
            @include media(laptop) {
                height: 128px;
                display: block;
                background: rgb(255, 255, 255);
                border-top-left-radius: 50%;
                border-top-right-radius: 50%;
                border-width: 0;
                margin-bottom: -30px !important;
            }

            .is-style-p-lg-section & {
                @include media(laptop) {
                    position: relative;
                    bottom: -128px;
                    z-index: 1;
                }
            }
        }

        .has-background &,
        [class*="background-color"] &,
        [style*="background-color"] &,
        .wp-block-cover[style*="background-image"] & {
            border-color: currentColor;
        }
    }
}
