:root {
--global--color-black: #000;
--global--color-white: #fff;
--global--color-transparent: transparent;
--global--color-green-primary: #2ca85e;
--global--color-green-hover: #1E7541;
--global--color-blue-secondary: #1a2d4f;
--global--color-stone-secondary: #121e34;
--global--color-red-error: #EF5350;
--global--color-gray-text: #5d6676;
--global--color-light-gray: #9DA3AC;
}

/** Baseline Colors */
$color-black: #000000;
$color-white: #ffffff;
$color-transparent: transparent;

/** Primary Colors */
$color-green-primary: #2ca85e;
$color-green-hover: #1E7541;
$color-blue-secondary: #1a2d4f;
$color-stone-secondary: #121e34;

/** Secondary Colors */
$color-red-error: #EF5350;
$color-gray-text: #5d6676;

/** Functional Colors */
$color-border: null;
$color-image: null;
$color-text: $color-gray-text;
$color-heading: color-green-primary;

/** Form Colors */
$color-form-border: $color-border;
$color-form-background: $color-white;
$color-form-error: $color-red-error;

/**
 * @requires /config/editor-color-palette.php to generate Block Editor UI
 * @requires /assets/styles/theme/twentytwentyone/assets/sass/07-utilities/color-palette.colab.scss
 *
 * @link https://developer.wordpress.org/block-editor/developers/themes/theme-support/#block-color-palettes
 */
$color-palette: (
    /** Baseline Colors */
    'black': $color-black,
    'white': $color-white,
    'transparent': $color-transparent,
    'green-primary': $color-green-primary,
    'gree-hover': $color-green-hover,
    'blue-secondary': $color-blue-secondary,
    'stone-secondary': $color-stone-secondary,
    'red-error': $color-red-error,
    'gray-text': $color-gray-text
);

$color-palette-preset-color: (
    /** Baseline Colors */
    'green-primary': 'inverted',
    'green-hover': 'primary',
    'blue-secondary': 'primary',
    'stone-secondary': 'primary',
    'red-error': 'inverted',
    'gray-text': 'primary',
);

/** Gradients */
$gradient-transparent-to-black-40: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
$gradient-transparent-to-green: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(153, 229, 197, 0.2) 50%, rgba(0, 190, 111, 0.2) 100%);
$gradient-green-to-green: linear-gradient(226.38deg, rgba(0, 155, 141, 0.157) 11.89%, rgba(0, 192, 109, 0.11) 100%);
$gradient-green-to-transparent: linear-gradient(rgba(0, 155, 141, 0.2) 0%, rgba(103, 191, 183, 0.2) 50%, rgba(255, 255, 255, 0.2) 100%);
$gradient-blue-to-stone: linear-gradient(129.23deg, rgb(26, 45, 79) 27.89%, rgb(18, 30, 52) 77.04%);


/**
 * @requires /config/editor-gradient-presets.php
 * @requires /assets/styles/theme/twentytwentyone/assets/sass/07-utilities/color-palette.colab.scss
 *
 * @link https://developer.wordpress.org/block-editor/developers/themes/theme-support/#block-gradient-presets
 */
$gradient-presets: (
    'transparent-to-black-40': $gradient-transparent-to-black-40,
    'green-to-transparent': $gradient-green-to-transparent,
    'green-to-green': $gradient-green-to-transparent,
    'transparent-to-green': $gradient-transparent-to-green,
    'blue-to-stone': $gradient-blue-to-stone,

);
