/** Baseline Colors */
$color-black: #000000;
$color-white: #ffffff;
$color-transparent: transparent;

/** Primary Colors */
$color-green-primary: #2ca85e;
$color-blue-secondary: #1a2d4f;
$color-stone-secondary: #121e34;

/** Secondary Colors */
$color-red-error: #EF5350;
$color-gray-text: #5d6676;

/** Functional Colors */
$color-border: null;
$color-image: null;
$color-text: $color-gray-text;
$color-heading: color-green-primary;

/** Form Colors */
$color-form-border: $color-border;
$color-form-background: $color-white;
$color-form-error: $color-red-error;

/**
 * @requires /config/editor-color-palette.php to generate Block Editor UI
 * @requires /assets/styles/theme/twentytwentyone/assets/sass/07-utilities/color-palette.colab.scss
 *
 * @link https://developer.wordpress.org/block-editor/developers/themes/theme-support/#block-color-palettes
 */
$color-palette: (
    /** Baseline Colors */
    'black': $color-black,
    'white': $color-white,
    'transparent': $color-transparent,
    'green-primary': $color-green-primary,
    'blue-secondary': $color-blue-secondary,
    'stone-secondary': $color-stone-secondary,
    'red-error': $color-red-error,
    'gray-text': $color-gray-text
);

$color-palette-preset-color: (
    /** Baseline Colors */
    'green-primary': 'inverted',
    'blue-secondary': 'primary',
    'stone-secondary': 'primary',
    'red-error': 'inverted',
    'gray-text': 'primary',
);

/** Gradients */
// $gradient-transparent-to-black-40: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
// $gradient-purple-to-yellow: linear-gradient(160deg, var(--global--color-purple), var(--global--color-yellow));
// $gradient-yellow-to-purple: linear-gradient(160deg, var(--global--color-yellow), var(--global--color-purple));
// $gradient-green-to-yellow: linear-gradient(160deg, var(--global--color-green), var(--global--color-yellow));
// $gradient-yellow-to-green: linear-gradient(160deg, var(--global--color-yellow), var(--global--color-green));
// $gradient-red-to-yellow: linear-gradient(160deg, var(--global--color-red), var(--global--color-yellow));
// $gradient-yellow-to-red: linear-gradient(160deg, var(--global--color-yellow), var(--global--color-red));
// $gradient-purple-to-red: linear-gradient(160deg, var(--global--color-purple), var(--global--color-red));
// $gradient-red-to-purple: linear-gradient(160deg, var(--global--color-red), var(--global--color-purple));

/**
 * @requires /config/editor-gradient-presets.php
 * @requires /assets/styles/theme/twentytwentyone/assets/sass/07-utilities/color-palette.colab.scss
 *
 * @link https://developer.wordpress.org/block-editor/developers/themes/theme-support/#block-gradient-presets
 */
// $gradient-presets: (
//     'transparent-to-black-40': $gradient-transparent-to-black-40,
//     'purple-to-yellow': $gradient-purple-to-yellow,
//     'yellow-to-purple': $gradient-yellow-to-purple,
//     'green-to-yellow': $gradient-green-to-yellow,
//     'yellow-to-green': $gradient-yellow-to-green,
//     'red-to-yellow': $gradient-red-to-yellow,
//     'yellow-to-red': $gradient-yellow-to-red,
//     'purple-to-red': $gradient-purple-to-red,
//     'red-to-purple': $gradient-red-to-purple,
// );
