.overline {
    color: var(--global--color-green-primary);
    font-size: var(--global--font-size-sm);
    text-transform: uppercase;
    line-height: 2.66;
    letter-spacing: 0.2em;
    margin-bottom: 1.5rem;
}
