/** Override Twenty Twenty-One Variables */
$default_width: 820px;
$max_content_width: 1280px;
$breakpoint_sm: 482px;
$breakpoint_md: 600px;
$breakpoint_lg: 900px;
$breakpoint_xl: 1200px;
$breakpoint_xxl: 1536px;
