{#
  Title: Testimonial
  Description: Architect.io Testimonial Slider Block
  Category: custom
  Icon: marker
  Keywords: testimonials slider carousel
  Mode: auto
  Align: center
  PostTypes: page
  SupportsAlign: false
  SupportsMode: true
  SupportsMultiple: false
#}




<div>
    Hello!asdfasdfs
</div>

