.wp-block-code,
.enlighter-t-wpcustom {
	border: none;
	padding: 3.5rem 0 1rem 1rem!important;
    background: #1a2d4f;
    border-radius: 4px;
    position: relative;

    .single & {
        padding: 1rem !important;
    }

    &::before {
        content: "•••";
        position: absolute;
        top: 0;
        left: 0;
        padding: .5rem;
        font-size: 2rem;
        color: #1a2d4f;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
        line-height: .6;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        width: 100%;
        .single & {
            display: none !important;
        }
    }

	code,
    .enlighter {
		color: #f8f8f2;
		white-space: pre;
		overflow-x: auto;
		display: block;
        font-size: 1rem;
        font-family: monospace;

        > div {
            line-height: 1.4em;
        }

        .token {
            &.comment {
                color: #6fe79f;
            }
            &.atrule,
            &.attr-value,
            &.class-name,
            &.function {
                color: #aac7f8;
            }

            &.boolean,
            &.number {

            }

        }

        .enlighter-g1 + .enlighter-text,
        .enlighter-m0 + .enlighter-text {
            color: #f8f8f2;
        }

        .enlighter-text {
            color: #aac7f8;
        }

        .enlighter-c0 {
            color: #6fe79f;
        }

        .enlighter-n0,
        .enlighter-n1 {
            color: #bc94f9;
        }
	}

    .enlighter-toolbar {
        display: none!important;
    }
}
