<!DOCTYPE html>
<html {{ site.language_attributes }}>

    {% include 'html-header.twig' %}
    <body class="{{ body_class }}">

        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WXCW85"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        {% include 'partials/drawer.twig' %}

        {% include 'partials/alert-bar.twig' %}

        {% include 'partials/header.twig' %}

            {% block content %}
                <p>Sorry, no content</p>
            {% endblock %}

            {% block sidebar %}
            {% endblock %}

        {% include 'partials/footer.twig' %}
        {% include 'html-footer.twig' %}
    </body>
</html>
