.prefooter-fade {
width:100%;
height: 240px;
background:$gradient-transparent-to-green;
}

footer {
    background: $gradient-blue-to-stone;
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: var(--global--color-white-65);
}

.o-footer__inner {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.o-footer__prefooter {
    color: var(--global--color-gray-text);
    flex-grow: 1;
    background: var(--global--color-white);
    box-shadow: rgb(18 30 52 / 15%) 0px 18px 30px;
    margin-top: -240px;
    border-radius: 20px;
    margin-bottom: 80px;
    display: flex;
    flex-flow: wrap;
    box-sizing: border-box;
    align-items: center;
}

.o-footer__prefooter--grid5 {
    padding: 32px 64px 0;
    margin: 0;
    box-sizing: border-box;
    @include media(tablet) {
        padding: 32px;
        flex-grow: 0;
        max-width: 42%;
        flex-basis: 42%;
    }
    @include media(laptop) {
        padding: 80px 10px 80px 64px;
    }
}
.o-footer__prefooter--grid7 {
    padding: 32px 64px;
    margin: 0;
    box-sizing: border-box;
    @include media(tablet) {
        padding: 32px;
        flex-grow: 0;
        max-width: 58%;
        flex-basis: 58%;
    }
    @include media(laptop) {
        padding: 80px 10px 80px 64px;
    }
}

.o-footer__prefooter--list > p {
    font-size: 1.1rem;
    @include media(mobile){
    font-size: 1.3rem;
    }
    line-height: 1.25;
    margin: 1rem 0;
    a {
        color: var(--global--color-green-primary);
        text-decoration: none;
        @include underlinedraw;
    }
    &:before {
        width: 24px;
        height: 24px;
        content: "";
        display: inline-block;
        background: url(../images/right-arrow.svg) no-repeat;
        box-sizing: content-box;
        padding-right: 10px;
        vertical-align: middle;
        background-size: 24px 24px;
    }
}

.o-footer__section--nav {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    justify-content: space-around;
    @include media(tablet) {
        justify-content: flex-start;
    }
}

.o-footer__nav--col {
    flex-grow: 0;
    max-width: 20%;
    flex-basis: 20%;
}
.o-footer__nav--mobile-hidden {
    display: none;
    @include media(tablet) {
        display: block;
    }
}

.o-footer__menu {
    ul {
        padding-left: 0;
        list-style: none;
        margin-bottom: 16px;
    }
    li {
        text-decoration: none;
        padding-top: 8px;
        a {
            color: var(--global--color-white);
            font-weight: bold;
            text-decoration: none;
        }
    }
}

.o-footer__section--subfooter,
.o-footer__section--social {
    color: var(--global--color-white-65);
    text-align: center;
    width: 100%;
    a {
        text-decoration: none;
    }
}
