.o-menu {
    height: 100%;
}

.o-menu--main {
    display: none;
    @include media(laptop) {
        display: block;
    }
    & > ul {
        height: 100%;
        display: flex;
        list-style: none;
        position: relative;
        align-items: stretch;
        padding-left: 0;
        & > li.menu-item {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 6px 8px;
            margin-right: 8px;
            transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            @include media(desktop) {
                padding: 6px 16px;
                margin-right: 16px;
            }
            & > a {
                text-decoration: none;
                color: #424242;
                line-height: 1.75;
                font-size: 0.9rem;
                @include media(desktop) {
                    font-size: 1rem;
                }
            }
            &:hover {
                background-color: rgba(93, 102, 118, 0.04);
                & > a {
                    text-decoration: underline;
                }
            }
            &.menu-item-has-children {
                &:after {
                    font-family: "Material Icons";
                    content: "\e5c5";
                    font-size: 1.25rem;
                    margin-left: 5px;
                    vertical-align: top;
                }
            }
        }
    }

    // Sub Nav styles
    div.o-menu__subnav {
        position: absolute;
        display: none;
        top: 71px;
        background: var(--global--color-white);
        box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
            0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
        & > ul.o-menu__subnav-inner {
            padding: 8px 0;
            list-style: none;
            & > li {
                padding: 6px 16px;
                font-size: 0.95rem;
                transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1)
                    0ms;
                a {
                    color: var(--global--color-green-primary);
                    text-decoration: none;
                    text-underline-offset: 0;
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.04);
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    li.menu-item-has-children:hover > div.o-menu__subnav {
        display: block;
    }
}

// _____________________________

// Mobile Drawer Menu Styles

.o-menu--mobile {
    & > ul {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        list-style: none;
        position: relative;
        align-items: stretch;
        padding-left: 0;
        & > li.menu-item {
            display: flex;
            align-items: center;
            transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            flex-flow: row wrap;
            & > a {
                text-decoration: none;
                font-size: 1.143rem;
                line-height: 1.5;
                color: var(--global--color-gray-text);
                padding: 16px;
                width: calc(100% - 50px);
            }
            &:hover {
                background-color: rgba(93, 102, 118, 0.04);
            }
        }
    }

    // Sub Nav styles
    div.o-menu__subnav {
        max-height: 0;
        height: auto;
        overflow: hidden;
        background-color: var(--global--color-white);
        width: 200%;
        list-style: none;
        transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        & > ul.o-menu__subnav-inner {
            padding-left: 0;
            & > li {
                transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1)
                    0ms;
                a {
                    width: 100%;
                    padding: 16px 16px 16px 32px;
                    font-size: 1.143rem;
                    text-decoration: none;
                    text-underline-offset: 0;
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.04);
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    li.menu-item-has-children.expanded > div.o-menu__subnav {
        max-height: 600px;
    }
}

.menu-expand {
    cursor: pointer;
    font-size: 1.714rem;
    margin-right: 22.5px;
    transform-origin: 50% 50%;
    .expanded > & {
        transform: rotate(180deg);
    }
}
