.o-menu {
    height: 100%;
}

.o-menu--main {
    & > ul {
        height: 100%;
        display: flex;
        list-style: none;
        position: relative;
        align-items: stretch;
        padding-left: 0;
        & > li.menu-item {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 6px 16px;
            margin-right: 16px;
            transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            &:hover {
                background-color: rgba(93, 102, 118, 0.04);
            }
            & > a {
                text-decoration: none;
                color: #424242;
                line-height: 1.75;
                &:hover {
                    text-decoration: underline;
                }
            }
            &.menu-item-has-children {
                &:after {
                    font-family: "Material Icons";
                    content: "\e5c5";
                    font-size: 1.25rem;
                    margin-left: 5px;
                    vertical-align: top;
                }
            }
        }
    }

    // Sub Nav styles
    ul.o-menu__subnav {
        position: absolute;
        display: none;
        top: 65px;
        background: var(--global--color-white);
        box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
            0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
        padding: 8px 0;
        list-style: none;
        & > div.o-menu__subnav-inner > li {
            padding: 6px 16px;
            font-size: 0.95rem;
            transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            a {
                color: var(--global--color-green-primary);
                text-decoration: none;
                text-underline-offset: 0;
            }
            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
                a {
                    text-decoration: underline;
                }
            }
        }
    }

    li.menu-item-has-children:hover > ul.o-menu__subnav {
        display: block;
    }
}
