.entry-content {

    .font-weight-bold {
        font-weight: 700;
    }

    .font-weight-medium {
        font-weight: 500;
    }

    .font-weight-regular {
        font-weight:400;
    }


    .line-height-lg {
        line-height: 1.75;
    }

    .font-style-subtitle {
        font-size: 1rem;
        line-height: 1.57;
        font-weight:400;
    }

    .p-section,
    .is-style-p-section {
    // padding-top: 2rem;
    // padding-bottom: 2rem;
    // @include media(laptop) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    // }
    }

    .p-lg-section,
    .is-style-p-lg-section {
    //   padding-top: 2rem;
    //   padding-bottom: 2rem;
    //   @include media(laptop) {
        padding-top: 6rem;
        padding-bottom: 6rem;
    //   }
    }


    // Margin/Padding system
    // added as needed - important tagged to override styles
    // padding = 'p'; margin = 'm'
    // top bottom left right x-axis y-axis = t, b, l, r, x, y respectively
    // measurement is as follows
    // 1 = .25rem
    // 2 = .5rem
    // 3 = 1rem
    // 4 = 1.5rem
    // 5 = 3rem
    // adding n in front of number alters to negative margin (ex. mb-n3 is margin-bottom: -1rem;)

    .mb-0 {
        margin-bottom: 0 !important;
    }
    .mb-3 {
        margin-bottom: 1rem !important;
    }
    .mb-5 {
        margin-bottom: 3rem !important;
    }

    .mt-0 {
        margin-top: 0 !important;
    }

    .mt-3 {
        margin-top: 1rem !important;
    }

    .mx-0 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .mw-n60 {
        max-width:calc(var(--responsive--alignwide-width) - 60px) !important;
    }

    .mw-912 {
        max-width: 912px !important;
    }



    // ______

    .flip-image > .wp-block-media-text__media{
        transform: scaleX(-1);
    }

}

.arrow-down-button a:after {
    content:"\E5DB";
    font-family: 'Material Icons';
    vertical-align: top;
    font-size: 18px;
    color: var(--global--color-white);
    margin-left: 10px;
}
