.m-alert {
    position: relative;
    background-color: var(--global--color-green-primary);
    color: var(--global--color-white);
    text-align: center;
    padding: 10px 40px 15px;
    margin-bottom: 0;

    a {
        color: var(--global--color-white);
        &:hover,
        &:focus {
            color: var(--global--color-green-hover);
            text-decoration: underline;
        }
    }

    @include media(laptop) {
        padding-right: 80px;
        padding-left: 80px;
    }

    &.inactive {
        display: none;
    }
}

.m-alert__content {
    margin-top: 0;
    margin-bottom: 0;
}

.m-alert__icon {
    position: relative;
    margin-right: 4px;
    top: 2px;
}

.m-alert__text {
    color: inherit;
    text-decoration: none;
}

.m-alert__dismiss {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    svg {
        position: relative;
        top: 6px;
    }

    @media (min-width: 960px) {
        right: 34px;
    }
}
