.wp-block-group {
    &.o-accordion {
        position: relative;

        .wp-block-columns {
            margin-bottom: 1rem;
            transition: all 0.5s;
            flex-wrap: wrap;

            @media screen and (min-width: $breakpoint_lg) {
                flex-wrap: nowrap;
            }

            &.open {
                .wp-block-column {
                    &:first-of-type {
                        border-color: #2ca85e;
                        width: 100%;
                        transition: all 0.2s ease-in;
                        max-height: 230px;

                        @media screen and (min-width: $breakpoint_lg) {
                            max-width: 50%;
                        }

                        p,
                        .wp-block-buttons {
                            height: auto;
                        }
                    }

                    &:nth-child(2) {
                        display: block;

                        @media screen and (min-width: $breakpoint_lg) {
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }
                }
            }
        }

        .wp-block-column {
            flex-basis: auto;
            flex-grow: auto;

            &:first-of-type {
                padding-top: 1rem;
                padding-bottom: 1rem;
                padding-left: 0.5rem;
                border-left: 2px solid #cccccc;
                margin-bottom: 0;
                height: auto;
                max-height: 56px;
                overflow: hidden;
                transition: all 0.2s ease-in;

                @media screen and (min-width: $breakpoint_lg) {
                    max-width: 50%;
                }

                h3 {
                    margin-bottom: 0 !important;
                    font-size: 1.3rem;
                    font-weight: bold;
                    display: inline-block;
                    cursor: pointer;
                }

                p,
                .wp-block-buttons {
                    // margin: 0.5rem 0 0 0;
                }

                .wp-block-buttons {
                    margin-top: 1rem;
                    padding-left: 0 !important;

                    .wp-block-button {
                        margin-bottom: 0;
                    }
                }
            }

            &:nth-child(2) {
                display: none;
                width: 100%;
                margin-left: 0;
                margin-top: 2rem;

                @media screen and (min-width: $breakpoint_lg) {
                    margin-top: 0;
                    width: calc(50% - 2rem);
                }
            }

            > *:not(.wp-block-code) {
                padding-left: 0.5rem !important;
                padding-right: 0 !important;
            }
        }
    }
}
