ul.lever {
    list-style-type: none;
}

li.lever-job {
    margin-bottom: 2rem;
}

.lever-job-title {
    font-size: 23px;
    font-weight: bold;
}

.lever-job-apply {
    color: var(--global--color-blue-slate-primary);

    &:hover {
        color: var(--global--color-blue-slate-hover);
        text-decoration: none;
    }
}

// temporary remote status on all posts

li.lever-job:after {
    content: " - Remote";
}
