{% extends "base.twig" %}

{% block content %}
    <main id="main">
        {% if content %}
            <div class="entry-content">
                {{ content|raw }}
            </div>
        {% endif %}

    </main>
{% endblock %}
