<aside class="mdc-drawer mdc-drawer--modal o-modal__drawer">
  <div class="mdc-drawer__content">
    <div class="o-header__logo o-modal__logo">
      <a class="o-header__logo-link o-modal__logo-link" href="{{ home_url }}">{{ site_title }}</a>
    </div>
    <nav aria-label="Main" class="o-menu o-menu--mobile mdc-list">
      {% include 'partials/mobile-navigation.twig' %}
    </nav>
  </div>
</aside>
<div class="mdc-drawer-scrim"></div>
