<header class="o-header">
  {% include 'partials/skip-navigation.twig' %}
  <div class="o-header__inner">
    <div class="o-header__container">
      <div class="menu-toggle-container">
        <a aria-label="Open mobile" class="o-header__mobile-button js-toggle">
          <span class="material-icons">menu</span>
        </a>
      </div>
      <div class="o-header__logo">
        <a class="o-header__logo-link" href="{{ home_url }}">
          {{ site_title }}
        </a>
      </div>
      <div class="o-header__navigation">
        <nav aria-label="Main" class="o-menu o-menu--main">
        {% include 'partials/global-navigation.twig' %}
        </nav>
      </div>
      <div class="o-header__links">
        <div class="wp-block-buttons">
          <div class="wp-block-button is-style-secondary o-header__button o-header__button-mobhide">
            <a class="wp-block-button__link"
              href="https://cloud.architect.io/login">
              Login
            </a>
          </div>
          <div class="wp-block-button o-header__button">
            <a class="wp-block-button__link"
              href="https://cloud.architect.io/signup">
              Get started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
