{% if pagination %}
<section class="m-pagination">
    <span class="m-pagination__link m-pagination__link--prev">{{ pagination.prev }}</span>
    <span class="m-pagination__link m-pagination__link--next">{{ pagination.next }}</span>
</section>
{% endif %}
