<header class="o-post-header">
    <section class="o-post-header__nav">
        <span class="o-post-header__link o-post-header__link--back"><a href="/blog">All Posts</a></span>
    </section>

    <h1 class="o-post-header__title">{{ post.title }}</h1>
    <span class="o-post-header__meta">{{ post.authorgroup|map(u => u.display_name)|join(', ') }} - {{ post.date }}</span>
    <nav class="o-post-header__social">
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_inline_share_toolbox"></div>
    </nav>
</header>
