    <div class="o-post-footer">
    <hr class="wp-block-separator alignwide is-style-default">
    <nav class="o-post-footer__social">
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_inline_share_toolbox"></div>
    </nav>
    </div>
