        <div class="o-footer__section--subfooter">
            © {{ "now"|date("Y") }} Architect.io
        </div>
        <div class="o-footer__section--social">
            <a href="https://mobile.twitter.com/architect_team">{% include 'partials/twitter.twig' %}</a>
            <a href="https://www.linkedin.com/company/architect-io/">{% include 'partials/linkedin.twig' %}</a>
        </div>
