.wp-block-file {

	// Undo Gutenberg hover defaults
	a.wp-block-file__button:active,
	a.wp-block-file__button:focus,
	a.wp-block-file__button:hover {
		opacity: inherit;
	}

	a.wp-block-file__button {
		display: inline-block;
        border-width: 1px;
        border-style: solid;
        border-color: var(--global--color-secondary);
        transition: all .3s;

        &:not(:hover):not(:active) {
            color: var(--global--color-secondary)!important;
            background-color: transparent!important;
        }

        &:hover,
        &:active {
            background-color: var(--global--color-secondary) !important;
            color: var(--global--color-white) !important;
        }
	}
}
