/** Node Modules */

/** Functions */

/** Mixins */

/** Config */
@import 'config/colors';
// @import 'config/icons';

/** Admin Base */

/** Admin Constructs */
// @import 'admin/acf-field-message';
// @import 'admin/acf-label';
// @import 'admin/acf-input';
// @import 'admin/acf-sidebar';
// @import 'admin/acf-field-relationship';
// @import 'admin/block-editor-block-contextual-toolbar';
// @import 'admin/block-marker';

/** Admin Atoms */
@import 'admin/a-swatch-color';
@import 'admin/a-swatch-icon';

/** Admin Molecules */
@import 'admin/m-block-notice';
@import 'admin/m-block-placeholder';

/** Admin Organisms */

/** Admin */

.interface-interface-skeleton__content {
  scroll-behavior: smooth;
}

/** Theme Constructs */
