body.login {

  #nav,
  #backtoblog {
    text-align: center;

    a {
      text-decoration: underline;
      color: var(--global--color-blue-slate-primary);

      &:hover {
        color: var(--global--color-blue-slate-hover);
      }

      &:focus {
        // box-shadow: none;
        color: var(--global--color-blue-slate-hover);
      }
    }
  }

  #nav {}

  #backtoblog {
    margin-bottom: 0;
  }

  .privacy-policy-page-link {
    margin-bottom: 0;
  }

  .privacy-policy-link {}
}
