/**
 * Button
 */
.site .button,
button,
input[type="submit"],
input[type="reset"],
.wp-block-search .wp-block-search__button,
.wp-block-button .wp-block-button__link,
.wp-block-file a.wp-block-file__button {
    // Extend button style
    @include button-style();
}

/**
 * Block Options
 */
.wp-block-button {
    // Target the default and filled button states.
    &:not(.is-style-outline) {
        .wp-block-button__link:not(:hover):not(:active) {
            // Text colors
            &:not(.has-text-color) {
                color: var(--global--color-onyx);

                // Nested
                .has-background & {
                    color: var(
                        --local--color-background,
                        var(--global--color-onyx)
                    );

                    &.has-background {
                        color: var(--global--color-primary);
                    }
                }
            }

            // Background-colors
            &:not(.has-background) {
                box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
                    0px 2px 2px 0px rgb(0 0 0 / 14%),
                    0px 1px 5px 0px rgb(0 0 0 / 12%);
                transition: all 0.2s ease;
                background-color: var(--global--color-green-primary);

                // Nested
                .has-background & {
                    background-color: var(
                        --local--color-primary,
                        var(--global--color-green-primary)
                    );
                }
            }
        }

        // Hover Button color should match parent element foreground color
        .wp-block-button__link:hover,
        .wp-block-button__link:active {
            transition: all 0.2s ease;
            box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
                0px 4px 5px 0px rgb(0 0 0 / 14%),
                0px 1px 10px 0px rgb(0 0 0 / 12%);
            &:not(.has-background) {
                background-color: var(--global--color-blue-slate-hover);
                color: var(--global--color-white);

                // Nested
                .has-background & {
                    color: var(
                        --local--color-background,
                        var(--global--color-white)
                    ) !important;
                }

                .has-text-color & {
                    color: var(
                        --local--color-background,
                        var(--global--color-white)
                    ) !important;
                }
            }
        }
    }

    // Outline Style.
    &.is-style-outline {
        .wp-block-button__link {
            border-width: 1px;
            border-style: solid;
            border-color: rgba(34, 85, 96, 0.5);
            transition: all .3s;

            &:not(:hover):not(:active) {
                color: var(--global--color-secondary);
                background-color: transparent;
            }

            &:hover,
            &:active {
                border-color: var(--global--color-secondary);
                background-color: rgba(44, 168, 94, 0.04)!important;
                color: var(--global--color-blue-slate-primary);
                text-decoration: underline;
            }
        }
    }

    // Squared Style
    .is-style-squared .wp-block-button__link {
        border-radius: 0;
    }
    // Secondary Style
    &.is-style-secondary {
        .wp-block-button__link:not(:hover):not(:active) {
            // Text colors
            &:not(.has-text-color) {
                color: var(--global--color-gray-text);

                // Nested
                .has-background & {
                    color: var(
                        --local--color-primary,
                        var(--global--color-gray-text)
                    );
                }
            }

            &.has-background {
                // Nested
                .has-background &:not(.has-text-color) {
                    color: inherit;
                }
            }

            // Background-colors
            &:not(.has-background) {
                background-color: transparent;
                box-shadow: none;
            }
        }

        .wp-block-button__link:hover,
        .wp-block-button__link:active {
            box-shadow: none;
            background-color: rgba(93, 102, 118, 0.04) !important;
            color: var(--global--color-gray-text) !important;
            text-decoration: none;

            .has-background & {
                background-color: var(
                    --local--color-primary,
                    var(--global--color-primary)
                ) !important;
                color: var(
                    --local--color-background,
                    var(--global--color-background)
                ) !important;
            }

            .has-text-color & {
                color: var(
                    --local--color-background,
                    var(--global--color-background)
                ) !important;
            }
        }
        .wp-block-button__link:focus {
            background-color: rgba(34, 85, 96, 0.04) !important;
        }
    }
    // Arrow Style
    &.is-style-arrow {
        a.wp-block-button__link {
            padding: 6px 9px;
            &:after {
                font-family: "Material Icons";
                content: "\e5cc";
                height: 20px;
                width: 20px;
                display: inline-block;
                margin-left: 8px;
                vertical-align: top;
            }
        }
        .wp-block-button__link:not(:hover):not(:active) {
            // Text colors
            &:not(.has-text-color) {
                color: var(--global--color-blue-slate-primary);

                // Nested
                .has-background & {
                    color: var(
                        --local--color-primary,
                        var(--global--color-blue-slate-primary)
                    );
                }
            }

            &.has-background {
                // Nested
                .has-background &:not(.has-text-color) {
                    color: inherit;
                }
            }

            // Background-colors
            &:not(.has-background) {
                background-color: transparent;
                box-shadow: none;
            }
        }

        .wp-block-button__link:hover,
        .wp-block-button__link:active {
            box-shadow: none;
            background-color: rgba(34, 85, 96, 0.04) !important;
            color: var(--global--color-blue-slate-primary) !important;
            text-decoration: underline;

            .has-background & {
                background-color: var(
                    --local--color-primary,
                    var(--global--color-primary)
                ) !important;
                color: var(
                    --local--color-background,
                    var(--global--color-background)
                ) !important;
            }

            .has-text-color & {
                color: var(
                    --local--color-background,
                    var(--global--color-background)
                ) !important;
            }
        }
        .wp-block-button__link:focus {
            background-color: rgba(34, 85, 96, 0.04) !important;
        }
    }
}

.is-style-outline .wp-block-button__link[style*="radius"]:focus,
.wp-block-button a.wp-block-button__link[style*="radius"]:focus {
    // outline-offset: 2px;
    // outline: 2px dotted var(--button--color-background);
}
